<a href="https://colab.research.google.com/github/EstebanHernandezValenzuela/CompYProg2022G1157/blob/main/Clase/FundamentosCyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = 'José'  #Tipo de dato String (cadena de caracteres)
print(nombre)

José

#Tipos de datos en python

- str  --> String cadema de caractéres.
- int  --> Números enteros
- float--> Numeros con notación de punto flotante.
- complex--> Numeros complejos
- bool--> Boleano (True or False) 
- byte--> 8 bits

### Tipo de datos estructurados (compuestos)


- list--> Listas
- tuple--> Listas mutables
- dict--> Diccionarios
- set y frozenset--> Conjuntos

In [ ]:
import sys
edad = 19

print('Tu edad es:',edad) #Al final de un línea de cóigo
# Este en un comentario de línea simple 
'''
Comentario de multiple lineas
En lenguaje C, C++ y Java el comentatio de multiple línea es un
 /*  .....  *\

 En lenguaje C, C++ y Java el comentario de una sola línea es con:
 //

 Aqui puedes explicar en prosa el segmento de un codigo para futura reco
 '''
 #Tipos de dato numerico int y float

sys.getsizeof(edad)
#La biblioteca sys representa a la computadora actual

edad = edad + 1
print( edad )

estructura = 1.56
print( estructura )
print( sys.getsizeof(estructura) )
estructura=estructura + 0.1
print( estructura,)
print(round(estructura,2))

edad += 1  # edad = edad +1
print( edad )
print('Tu edad es:',edad)

edad -= 1  # edad = edad -1
print( edad )
print('Tu edad es:',edad)

edad /= 2  # edad = edad / 2
print( edad )
print('Tu edad es:',edad)

edad = 21 
'''volver a calcular la mitad de la edad pero 
solo dejar la parte entera (sin decimales)'''
edad = edad // 2
print('La mitad de tu edad es :',edad)

'''En la mayoría de los lenguajes no permite operaciones
entre diferentes tipos de datos, en python no es el caso'''

numero = edad / 2.0
print( numero )

numero *= 3   #
print( numero )

numero = 5.0
numero **= 2  # se eleva el numero con **
print( numero )

Tu edad es: 19
20
1.56
24
1.6600000000000001
1.66
21
Tu edad es: 21
20
Tu edad es: 20
10.0
Tu edad es: 10.0
La mitad de tu edad es : 10
5.0
15.0
25.0

In [ ]:
#operador modulo
numero = 21
print( numero / 2 )
print( numero // 2 ) 
'''El operador modulo da como resultado el residuo
 de una division entera'''
 print( numero % 2 )

numero = 24
 print('Residuo de 24/5:',numero % 5 )

#operadores relacionales (logicos)
 print( '24 es par?=' numero % 2 ==0 )

#diferencia
print( '24 es diferente de 23=', numero != 23)
print('24 es mayor que 23'. numero > 23)
print('24 es menor que 23'. numero < 23)

print('24 es mayor o igual que que 24'. numero >= 24)
print('24 es menor o igual que que 23'. numero <= 23)

#Tipo de dato String (str) en Python

- Se maneja como un arreglo (tipo de dato compuesto)
- Se puede acceder a los elementos de el string por medio del índice del caracter. 
- Mutable
- Tiene metodos utiles (potentes)
- Slicing

In [ ]:
nombre = 'jose'
carrera = 'Ingeniería en computación'
frase = '''El conocimiento 
me persigue......
pero 
yo soy mas rápido
'''

print( nombre )
print( carrera )
print( frase )

# La función type de Python te devuelve el tipo de dato de una variable
 print(type(nombre))

 paterno = str( 'Perez' )
 print( paterno )

### Una clase (class) es un tipo de dato compuesto

### A la sintaxis escrita para elegir un elemento de datos se le llama selector
En el caso de Strings y listas(lst) se usan caracteres '['y']'

1. En todos los lenguajes los arreglos inician en 0.
2. En python no existe tal el tipo de dato arreglo, el concepto es sustituido por las listas.
3. Los strings se comportan como un arreglo en la mayoria de los lenguajes.
4. En python se acepta en indexado negativo, en otros lenguajes NO.

In [ ]:
carrera = 'Ingenieria en computacion'
print( carrera )
print( carrera [2] )
print(carrera [-1])
print( carrera [-25])

#Adelantando el ciclo FOR

for letra in carrera:
  print('-->',letra,'<--')

Ingenieria en computacion
g
n
I
--> I <--
--> n <--
--> g <--
--> e <--
--> n <--
--> i <--
--> e <--
--> r <--
--> i <--
--> a <--
-->   <--
--> e <--
--> n <--
-->   <--
--> c <--
--> o <--
--> m <--
--> p <--
--> u <--
--> t <--
--> a <--
--> c <--
--> i <--
--> o <--
--> n <--

### Slicing (rebanado) de cadenas
Permite seleccionar subcadenas con el operador

###[Inicio : stop : incremento]
El stop no se incluye, es por eso que debemos agregar una posicion extra.
### Slicing y valores por defecto 

Inicio por defecto siempre sera 0 stop: tamaño del arreglo )indexado positivo, indexado negativo)

In [ ]:
carrera = 'Ingeniería en computación'
print( carrera [0 : 10 : 1])

print( carrera [14: 25: 1])
#Lo mismo pero con indexado negativo
print( carrera [-11 :-1 : 1] )
print(carrera [:10:])
print( carrera [14:25:])
print(carrera[-11: :1])

#Solucion previa 
print('-------')
print(carrera [-11 : 25 : 1])
print(carrera [-11: :1])

#Ejercicio para ver incremento
print(carrera [0:10:2])
print(carrera[25:-13:-1])

Ingeniería
computación
computació
Ingeniería
computación
computación
-------
computación
computación
Igneí
nóicatupmoc

# String y sus métodos 

### Todos los tipos de datos en python son objetos( Clases de la POO)

## dir() y help() funciones para obtener ayuda del lenguaje Python 

### dir muestra las funciones de un tipo de dato como resumen.

### help muestra la misma ayuda pero a detalle

Metodos que inician en doble guion bajo son privados de uso interno de la clase y no deberiamos usarlos.

Todos los demas son para uso exterior (para los usuarios)

In [ ]:
frutas = ' limon , fresas, manzana , aguacate '
nombre = 'jose'
print(frutas)

print( nombre.capitalize()) #Hace mayuscula la primera
print( nombre.upper())  #Hace mayuscula todas
print( frutas.replace('a','4') ) #Sustituye los elementos que quieras
frutas =  frutas.replace( 'a' , '4' ).replace( 'e','3' ).upper() 
print(frutas)
print('-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.')
frutas='limon, fresa , manzana, aguacate '
print(frutas.strip()) 
print(frutas.split(','))   #Añade '''

print(frutas.index('n'))

 limon , fresas, manzana , aguacate
Jose
JOSE
 limon , fres4s, m4nz4n4 , 4gu4c4te
 LIMON , FR3S4S, M4NZ4N4 , 4GU4C4T3
-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
limon, fresa , manzana, aguacate
['limon', ' fresa ', ' manzana', ' aguacate ']
4

# String y caracteres de escape

"Jose"

- \" ---> "
- \' ---> '
- \n ---> Salto de linea (tecla enter)
- \t ---> Tabulador espacios a la izq.
- \uxxxx ---> Caracteres unicode. 16 bits (2 bytes)
- \Uxxxxxxxx---> Unicode extendido
- \\-->\

https://unicode-table.com/es/

In [ ]:
print(" \"Jose\" ")
nombre = " \"Jose\" "
print(nombre)
carrera = "Ingenieria \nen \nCcomputacion"  # Hace enters 
carrer = "Ingenieria \ten \tComputacion" #Hace saltos de espacios 

print( carrera )
print( carrer)
print('\u0065')
print('\u0444')
print('\u0620')

print('\U00010057')
print('\U0001F608')
print('\U0001F9A0')

 "Jose"
 "Jose"
Ingenieria
en
Ccomputacion
Ingenieria 	en 	Computacion
e
ф
ؠ
𐁗
😈
🦠

#Funcion print

###Se emple para desplegar informacion en la salida estandar. Normalmente a un monitor

###La salida estandar es donde se muestra la info al usuario

- Formas de usar print

- El argumentp por defecto de print (end)
- format()
- operador f""

In [ ]:
nombre = 'Jose'
edad = 18
casado = False
estatura = 1.67

#1.- Con comas.-Concatena haciendo un casting(conversion a string automatico)
#Agrega un espacio
print(nombre,edad,casado,estatura)
print( nombre , edad , casado , estatura ) ###No importa los espacios que se 
###pongan en el print los espacios se dan por las comas
print('Nombre: ' + nombre + '\n\tEdad:' + str(edad) +  '\n\tEsta casado:' + str(casado) +'\n\tEstatura en metros' + str(estatura))

"""2.- Con el simbolo + .-
Concatenacion en crudo.""" 
print( nombre +"  "+ str(edad) +"  "+ str(casado) +"  "+ str(estatura))
print( nombre +""+ str(edad) +""+ str(casado) +""+ str(estatura))

#Los espacios que se pongan entre ("   ") ahora si separa los que pongas

# 3.- Formato de salida con format()
print('Nombre: {}\n\tEdad: {}\n\tEsta cadado: {}\n\tEstatura en metros:{}'.format(nombre, edad, casado, estatura))

#4.- Con el operador f" "
print('Con el operador f\" \"')
print(f'Nombre: {nombre}\n\tEdad: {edad}\n\tEsta cadado: {casado}\n\tEstatura en metros:{estatura}')
#Con f' ' puedes escribir en los corchetes los objetos que quieras que se impriman


#Como manejar el argumento end
print(f'Hola {nombre}' , end='')
print(', como estas?' , end='')

Jose 18 False 1.67
Jose 18 False 1.67
Nombre: Jose
	Edad:18
	Esta casado:False
	Estatura en metros1.67
Jose  18  False  1.67
Jose18False1.67
Nombre: Jose
	Edad: 18
	Esta cadado: False
	Estatura en metros:1.67
Con el operador f" "
Nombre: Jose
	Edad: 18
	Esta cadado: False
	Estatura en metros:1.67
Hola Jose, como estas?

###Tarea
- Con una sola funcion Por letra print, escribir su primer nombre (nombre de pila) de la siguiente forma. uNA FUNCION POR LETRA

E  E  E    
E         
E  E       
E               
E  E  E   

S  S  S  
S
S S S S 
      S
S S S S

T T T T T
    T
    T
    T 
    T

E  E  E    
E         
E  E        
E               
E  E  E  

B B B B
B     B
B B B 
B     B
B B B B

   A

In [ ]:
print('EEEEEE \tSSSSSS \tTTTTTT \tEEEEEE \tBBBBBB \t  A')

EEEEEE 	SSSSSS 	TTTTTT 	EEEEEE 	BBBBBB 	  A