<a href="https://colab.research.google.com/github/EstebanHernandezValenzuela/CompYProg2022G1157/blob/main/Clase/FundamentosCyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = 'Jos√©'  #Tipo de dato String (cadena de caracteres)
print(nombre)

Jos√©

#Tipos de datos en python

- str  --> String cadema de caract√©res.
- int  --> N√∫meros enteros
- float--> Numeros con notaci√≥n de punto flotante.
- complex--> Numeros complejos
- bool--> Boleano (True or False) 
- byte--> 8 bits

### Tipo de datos estructurados (compuestos)


- list--> Listas
- tuple--> Listas mutables
- dict--> Diccionarios
- set y frozenset--> Conjuntos

In [ ]:
import sys
edad = 19

print('Tu edad es:',edad) #Al final de un l√≠nea de c√≥igo
# Este en un comentario de l√≠nea simple 
'''
Comentario de multiple lineas
En lenguaje C, C++ y Java el comentatio de multiple l√≠nea es un
 /*  .....  *\

 En lenguaje C, C++ y Java el comentario de una sola l√≠nea es con:
 //

 Aqui puedes explicar en prosa el segmento de un codigo para futura reco
 '''
 #Tipos de dato numerico int y float

sys.getsizeof(edad)
#La biblioteca sys representa a la computadora actual

edad = edad + 1
print( edad )

estructura = 1.56
print( estructura )
print( sys.getsizeof(estructura) )
estructura=estructura + 0.1
print( estructura,)
print(round(estructura,2))

edad += 1  # edad = edad +1
print( edad )
print('Tu edad es:',edad)

edad -= 1  # edad = edad -1
print( edad )
print('Tu edad es:',edad)

edad /= 2  # edad = edad / 2
print( edad )
print('Tu edad es:',edad)

edad = 21 
'''volver a calcular la mitad de la edad pero 
solo dejar la parte entera (sin decimales)'''
edad = edad // 2
print('La mitad de tu edad es :',edad)

'''En la mayor√≠a de los lenguajes no permite operaciones
entre diferentes tipos de datos, en python no es el caso'''

numero = edad / 2.0
print( numero )

numero *= 3   #
print( numero )

numero = 5.0
numero **= 2  # se eleva el numero con **
print( numero )

Tu edad es: 19
20
1.56
24
1.6600000000000001
1.66
21
Tu edad es: 21
20
Tu edad es: 20
10.0
Tu edad es: 10.0
La mitad de tu edad es : 10
5.0
15.0
25.0

In [ ]:
#operador modulo
numero = 21
print( numero / 2 )
print( numero // 2 ) 
'''El operador modulo da como resultado el residuo
 de una division entera'''
 print( numero % 2 )

numero = 24
 print('Residuo de 24/5:',numero % 5 )

#operadores relacionales (logicos)
 print( '24 es par?=' numero % 2 ==0 )

#diferencia
print( '24 es diferente de 23=', numero != 23)
print('24 es mayor que 23'. numero > 23)
print('24 es menor que 23'. numero < 23)

print('24 es mayor o igual que que 24'. numero >= 24)
print('24 es menor o igual que que 23'. numero <= 23)

#Tipo de dato String (str) en Python

- Se maneja como un arreglo (tipo de dato compuesto)
- Se puede acceder a los elementos de el string por medio del √≠ndice del caracter. 
- Mutable
- Tiene metodos utiles (potentes)
- Slicing

In [ ]:
nombre = 'jose'
carrera = 'Ingenier√≠a en computaci√≥n'
frase = '''El conocimiento 
me persigue......
pero 
yo soy mas r√°pido
'''

print( nombre )
print( carrera )
print( frase )

# La funci√≥n type de Python te devuelve el tipo de dato de una variable
 print(type(nombre))

 paterno = str( 'Perez' )
 print( paterno )

### Una clase (class) es un tipo de dato compuesto

### A la sintaxis escrita para elegir un elemento de datos se le llama selector
En el caso de Strings y listas(lst) se usan caracteres '['y']'

1. En todos los lenguajes los arreglos inician en 0.
2. En python no existe tal el tipo de dato arreglo, el concepto es sustituido por las listas.
3. Los strings se comportan como un arreglo en la mayoria de los lenguajes.
4. En python se acepta en indexado negativo, en otros lenguajes NO.

In [ ]:
carrera = 'Ingenieria en computacion'
print( carrera )
print( carrera [2] )
print(carrera [-1])
print( carrera [-25])

#Adelantando el ciclo FOR

for letra in carrera:
  print('-->',letra,'<--')

Ingenieria en computacion
g
n
I
--> I <--
--> n <--
--> g <--
--> e <--
--> n <--
--> i <--
--> e <--
--> r <--
--> i <--
--> a <--
-->   <--
--> e <--
--> n <--
-->   <--
--> c <--
--> o <--
--> m <--
--> p <--
--> u <--
--> t <--
--> a <--
--> c <--
--> i <--
--> o <--
--> n <--

### Slicing (rebanado) de cadenas
Permite seleccionar subcadenas con el operador

###[Inicio : stop : incremento]
El stop no se incluye, es por eso que debemos agregar una posicion extra.
### Slicing y valores por defecto 

Inicio por defecto siempre sera 0 stop: tama√±o del arreglo )indexado positivo, indexado negativo)

In [ ]:
carrera = 'Ingenier√≠a en computaci√≥n'
print( carrera [0 : 10 : 1])

print( carrera [14: 25: 1])
#Lo mismo pero con indexado negativo
print( carrera [-11 :-1 : 1] )
print(carrera [:10:])
print( carrera [14:25:])
print(carrera[-11: :1])

#Solucion previa 
print('-------')
print(carrera [-11 : 25 : 1])
print(carrera [-11: :1])

#Ejercicio para ver incremento
print(carrera [0:10:2])
print(carrera[25:-13:-1])

Ingenier√≠a
computaci√≥n
computaci√≥
Ingenier√≠a
computaci√≥n
computaci√≥n
-------
computaci√≥n
computaci√≥n
Igne√≠
n√≥icatupmoc

# String y sus m√©todos 

### Todos los tipos de datos en python son objetos( Clases de la POO)

## dir() y help() funciones para obtener ayuda del lenguaje Python 

### dir muestra las funciones de un tipo de dato como resumen.

### help muestra la misma ayuda pero a detalle

Metodos que inician en doble guion bajo son privados de uso interno de la clase y no deberiamos usarlos.

Todos los demas son para uso exterior (para los usuarios)

In [ ]:
frutas = ' limon , fresas, manzana , aguacate '
nombre = 'jose'
print(frutas)

print( nombre.capitalize()) #Hace mayuscula la primera
print( nombre.upper())  #Hace mayuscula todas
print( frutas.replace('a','4') ) #Sustituye los elementos que quieras
frutas =  frutas.replace( 'a' , '4' ).replace( 'e','3' ).upper() 
print(frutas)
print('-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.')
frutas='limon, fresa , manzana, aguacate '
print(frutas.strip()) 
print(frutas.split(','))   #A√±ade '''

print(frutas.index('n'))

 limon , fresas, manzana , aguacate
Jose
JOSE
 limon , fres4s, m4nz4n4 , 4gu4c4te
 LIMON , FR3S4S, M4NZ4N4 , 4GU4C4T3
-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
limon, fresa , manzana, aguacate
['limon', ' fresa ', ' manzana', ' aguacate ']
4

# String y caracteres de escape

"Jose"

- \" ---> "
- \' ---> '
- \n ---> Salto de linea (tecla enter)
- \t ---> Tabulador espacios a la izq.
- \uxxxx ---> Caracteres unicode. 16 bits (2 bytes)
- \Uxxxxxxxx---> Unicode extendido
- \\-->\

https://unicode-table.com/es/

In [ ]:
print(" \"Jose\" ")
nombre = " \"Jose\" "
print(nombre)
carrera = "Ingenieria \nen \nCcomputacion"  # Hace enters 
carrer = "Ingenieria \ten \tComputacion" #Hace saltos de espacios 

print( carrera )
print( carrer)
print('\u0065')
print('\u0444')
print('\u0620')

print('\U00010057')
print('\U0001F608')
print('\U0001F9A0')

 "Jose"
 "Jose"
Ingenieria
en
Ccomputacion
Ingenieria 	en 	Computacion
e
—Ñ
ÿ†
êÅó
üòà
ü¶†

#Funcion print

###Se emple para desplegar informacion en la salida estandar. Normalmente a un monitor

###La salida estandar es donde se muestra la info al usuario

- Formas de usar print

- El argumentp por defecto de print (end)
- format()
- operador f""

In [ ]:
nombre = 'Jose'
edad = 18
casado = False
estatura = 1.67

#1.- Con comas.-Concatena haciendo un casting(conversion a string automatico)
#Agrega un espacio
print(nombre,edad,casado,estatura)
print( nombre , edad , casado , estatura ) ###No importa los espacios que se 
###pongan en el print los espacios se dan por las comas
print('Nombre: ' + nombre + '\n\tEdad:' + str(edad) +  '\n\tEsta casado:' + str(casado) +'\n\tEstatura en metros' + str(estatura))

"""2.- Con el simbolo + .-
Concatenacion en crudo.""" 
print( nombre +"  "+ str(edad) +"  "+ str(casado) +"  "+ str(estatura))
print( nombre +""+ str(edad) +""+ str(casado) +""+ str(estatura))

#Los espacios que se pongan entre ("   ") ahora si separa los que pongas

# 3.- Formato de salida con format()
print('Nombre: {}\n\tEdad: {}\n\tEsta cadado: {}\n\tEstatura en metros:{}'.format(nombre, edad, casado, estatura))

#4.- Con el operador f" "
print('Con el operador f\" \"')
print(f'Nombre: {nombre}\n\tEdad: {edad}\n\tEsta cadado: {casado}\n\tEstatura en metros:{estatura}')
#Con f' ' puedes escribir en los corchetes los objetos que quieras que se impriman


#Como manejar el argumento end
print(f'Hola {nombre}' , end='')
print(', como estas?' , end='')

Jose 18 False 1.67
Jose 18 False 1.67
Nombre: Jose
	Edad:18
	Esta casado:False
	Estatura en metros1.67
Jose  18  False  1.67
Jose18False1.67
Nombre: Jose
	Edad: 18
	Esta cadado: False
	Estatura en metros:1.67
Con el operador f" "
Nombre: Jose
	Edad: 18
	Esta cadado: False
	Estatura en metros:1.67
Hola Jose, como estas?

###Tarea
- Con una sola funcion Por letra print, escribir su primer nombre (nombre de pila) de la siguiente forma. uNA FUNCION POR LETRA

E  E  E    
E         
E  E       
E               
E  E  E   

S  S  S  
S
S S S S 
      S
S S S S

T T T T T
    T
    T
    T 
    T

E  E  E    
E         
E  E        
E               
E  E  E  

B B B B
B     B
B B B 
B     B
B B B B

   A

In [ ]:
print('EEEEEE \tSSSSSS \tTTTTTT \tEEEEEE \tBBBBBB \t  A')

EEEEEE 	SSSSSS 	TTTTTT 	EEEEEE 	BBBBBB 	  A

# Datos de entrada

Para solicitar los datos del usuario se emplea la funcion input. La cual regresa siempre, un tipo de dato string.

In [2]:
nombre = input('Ingresa tu nombre' )
print('Tecleaste:',nombre)

Ingresa tu nombre Esteban
Tecleaste:  Esteban

# Como capturar datos numericos?

Para ello se hace una conversion entre tipos...
casting... consiste en llamar al constructor de la clase deseada.

## Ejemplo convertir el string '2' en numero
### num = int('2')

In [4]:
entrada = input('Dame tu edad:')
edad = int(entrada)
edad += 1 #edad = edad +1
print('Tu edad es:', edad)

Dame tu edad:18
Tu edad es: 19

In [6]:
#lo mismo pero con menos codigo

edad = int( input('Dame tu edad:') ) #int es para nunmeros enteros
print('Tu edad es:', edad+1)

Dame tu edad:18
Tu edad es: 19

In [14]:
estatura = float(input('Dame tu estatura: ') )   #Float es para nyumeros con decimales
print('Tu estatura es:', estatura,'m')

Dame tu estatura: 1.80
Tu estatura es: 1.8 m

In [17]:
# inputs de booleans

casado = bool(int(input('Soltero (0) casado(1)')))
print(' casado=', casado)

Soltero (0) casado(1)1
 casado= True

# Tipos  de datos estructurados de python

1. Listas
2. Tupals
3. Diccionarios
4. Conjuntos(opcional)

#Listas
- Tipo de dato que agrupa variables o valores.
- Se declara de dos formas
    - Usando [ ]
    - Usando list()
- Puede contener tipos de datos diversos( En otros lenguajes de programacion eso no es posible de forma directa)
- Los elementos internos se selecciona con [ ]
- Soporta slicing
- Son MUTABLES (Osea que se pueden modificar a lo largo del programa)
- GENERADORES[ dar for x in range( 10)
- Al ser una clase contiene muchos metodos utiles

In [28]:
numeros = [10, 5, 2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20
print(numeros)
numeros[-1] = 33

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]

In [29]:
# Tipos diversos 

cosas = [12, 2, True, 'Jose', 1.57, ['pera', 'kiwi','uva']]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:])
cosas[3] = cosas[3]. upper()
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [33]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
# slicing
# 1.- 4 al 8??
print( numeros[3:8])
# 2: [9,10]
print(numeros[8:10])
print(numeros[-3:-1:])
# 3:-imprimir la lista en orden invers [11,10,9, etcetera,1]
print(numeros[: :-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
# Crear una list con un generador 
numeros = [ x*3 for x in range(1001)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999, 1002, 1005, 1008, 1011, 1014, 1017, 1020, 1023, 1026, 1029, 1032, 1035, 1038, 1041, 1044, 1047, 1050, 1053, 1056, 1059, 1062, 1065, 1068, 1071, 1074, 1077, 1080, 1083, 1086, 1089, 1092, 1095, 1098, 1101, 1104, 1107, 1110, 1113, 1116, 1119, 1122, 1125, 1128, 1131, 1134, 1137, 1140, 1143, 1146, 1149, 1152, 1155, 1158, 1161, 1164, 1167, 1170, 1173, 1176, 1179, 1182, 1185, 1188, 1191, 1194, 1197, 1200, 1203, 1206, 1209, 1212, 1215, 1218, 1221, 1224, 1227, 1230, 1233, 1236, 1239, 1242, 1245, 1248, 1251, 1254, 1257, 1260, 1263, 1266, 1269, 1272, 1275, 1278, 1281, 1284, 1287, 1290, 1293, 1296, 1299, 1302, 1305, 1308, 1311, 1314, 1317, 1320, 1323, 1326, 1329, 1332, 1335, 1338, 1341, 1344, 1347, 1350, 1353, 1356, 1359, 1362, 1365, 1368, 1371, 1374, 1377, 1380, 1383, 1386, 1389, 1392, 1395, 1398, 1401, 1404, 1407, 1410, 1413, 1416, 1419, 1422, 1425, 1428, 1431, 1434, 1437, 1440, 1443, 1446, 1449, 1452, 1455, 1458, 1461, 1464, 1467, 1470, 1473, 1476, 1479, 1482, 1485, 1488, 1491, 1494, 1497, 1500, 1503, 1506, 1509, 1512, 1515, 1518, 1521, 1524, 1527, 1530, 1533, 1536, 1539, 1542, 1545, 1548, 1551, 1554, 1557, 1560, 1563, 1566, 1569, 1572, 1575, 1578, 1581, 1584, 1587, 1590, 1593, 1596, 1599, 1602, 1605, 1608, 1611, 1614, 1617, 1620, 1623, 1626, 1629, 1632, 1635, 1638, 1641, 1644, 1647, 1650, 1653, 1656, 1659, 1662, 1665, 1668, 1671, 1674, 1677, 1680, 1683, 1686, 1689, 1692, 1695, 1698, 1701, 1704, 1707, 1710, 1713, 1716, 1719, 1722, 1725, 1728, 1731, 1734, 1737, 1740, 1743, 1746, 1749, 1752, 1755, 1758, 1761, 1764, 1767, 1770, 1773, 1776, 1779, 1782, 1785, 1788, 1791, 1794, 1797, 1800, 1803, 1806, 1809, 1812, 1815, 1818, 1821, 1824, 1827, 1830, 1833, 1836, 1839, 1842, 1845, 1848, 1851, 1854, 1857, 1860, 1863, 1866, 1869, 1872, 1875, 1878, 1881, 1884, 1887, 1890, 1893, 1896, 1899, 1902, 1905, 1908, 1911, 1914, 1917, 1920, 1923, 1926, 1929, 1932, 1935, 1938, 1941, 1944, 1947, 1950, 1953, 1956, 1959, 1962, 1965, 1968, 1971, 1974, 1977, 1980, 1983, 1986, 1989, 1992, 1995, 1998, 2001, 2004, 2007, 2010, 2013, 2016, 2019, 2022, 2025, 2028, 2031, 2034, 2037, 2040, 2043, 2046, 2049, 2052, 2055, 2058, 2061, 2064, 2067, 2070, 2073, 2076, 2079, 2082, 2085, 2088, 2091, 2094, 2097, 2100, 2103, 2106, 2109, 2112, 2115, 2118, 2121, 2124, 2127, 2130, 2133, 2136, 2139, 2142, 2145, 2148, 2151, 2154, 2157, 2160, 2163, 2166, 2169, 2172, 2175, 2178, 2181, 2184, 2187, 2190, 2193, 2196, 2199, 2202, 2205, 2208, 2211, 2214, 2217, 2220, 2223, 2226, 2229, 2232, 2235, 2238, 2241, 2244, 2247, 2250, 2253, 2256, 2259, 2262, 2265, 2268, 2271, 2274, 2277, 2280, 2283, 2286, 2289, 2292, 2295, 2298, 2301, 2304, 2307, 2310, 2313, 2316, 2319, 2322, 2325, 2328, 2331, 2334, 2337, 2340, 2343, 2346, 2349, 2352, 2355, 2358, 2361, 2364, 2367, 2370, 2373, 2376, 2379, 2382, 2385, 2388, 2391, 2394, 2397, 2400, 2403, 2406, 2409, 2412, 2415, 2418, 2421, 2424, 2427, 2430, 2433, 2436, 2439, 2442, 2445, 2448, 2451, 2454, 2457, 2460, 2463, 2466, 2469, 2472, 2475, 2478, 2481, 2484, 2487, 2490, 2493, 2496, 2499, 2502, 2505, 2508, 2511, 2514, 2517, 2520, 2523, 2526, 2529, 2532, 2535, 2538, 2541, 2544, 2547, 2550, 2553, 2556, 2559, 2562, 2565, 2568, 2571, 2574, 2577, 2580, 2583, 2586, 2589, 2592, 2595, 2598, 2601, 2604, 2607, 2610, 2613, 2616, 2619, 2622, 2625, 2628, 2631, 2634, 2637, 2640, 2643, 2646, 2649, 2652, 2655, 2658, 2661, 2664, 2667, 2670, 2673, 2676, 2679, 2682, 2685, 2688, 2691, 2694, 2697, 2700, 2703, 2706, 2709, 2712, 2715, 2718, 2721, 2724, 2727, 2730, 2733, 2736, 2739, 2742, 2745, 2748, 2751, 2754, 2757, 2760, 2763, 2766, 2769, 2772, 2775, 2778, 2781, 2784, 2787, 2790, 2793, 2796, 2799, 2802, 2805, 2808, 2811, 2814, 2817, 2820, 2823, 2826, 2829, 2832, 2835, 2838, 2841, 2844, 2847, 2850, 2853, 2856, 2859, 2862, 2865, 2868, 2871, 2874, 2877, 2880, 2883, 2886, 2889, 2892, 2895, 2898, 2901, 2904, 2907, 2910, 2913, 2916, 2919, 2922, 2925, 2928, 2931, 2934, 2937, 2940, 2943, 2946, 2949, 2952, 2955, 2958, 2961, 2964, 2967, 2970, 2973, 2976, 2979, 2982, 2985, 2988, 2991, 2994, 2997, 3000]

# Funcion range()
Tiene los mismos componentes que slicing 
inicio, stop, incremento

range(1, 101,1

In [37]:
numeros = [ x for x in range(50,101,5)]
print(numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [54]:
numeros = [ 4, 1, 15, 8, 22, 34, 50]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
numeros = []
print(numeros)

frutas = ['uvas', 'kiwi', 'manzana']
copia = frutas
print(frutas)
print(copia)
frutas.append('Naranja')
print(frutas)
print(copia)

colores = ['rojo','azul','blanco']
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append('verde')
print(colores)
print(copia2)

print('Numero de veces que aparece el 15=',numeros.count(15))

# extend

nombre = ['jose', 'pedro', 'karina']
otrosNombres = ['josue','diana','dalia']

print(nombre)
print(otrosNombres)
nombres = nombre + otrosNombres
print(nombres)
print(otrosNombres)

# Lo mismo con el metodo extend
otrosNombres.extend(['Jesus','maria','jose'])
print(otrosNombres)
print('Jesus esta en la posicion:', otrosNombres.index('Jesus'))
otrosNombres.insert(4, 'Espiritu santo')
print(otrosNombres)

# pop
resultado = otrosNombres
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'Naranja']
['uvas', 'kiwi', 'manzana', 'Naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15= 0
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'Jesus', 'maria', 'jose']
Jesus esta en la posicion: 3
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'maria', 'jose']
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'maria', 'jose']
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'maria', 'jose']